<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Upload</title>
</head>
<body>
    <h1>Upload a file, <%= user.username $>!</h1>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <input type="file" name="avatar" />
    </form>
    <a href="/">Back home</a>
</body>
</html>